* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/martin.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
}
.app-container {
  width: 50%;
  max-width: 450px;
  min-width: 300px;
  height: 80%;
  min-height: 400px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}
.app-container h1 {
  text-align: center;
  margin: 10px 0;
}
.app-container p {
  text-align: center;
  margin: 30px 0;
}
#increment, #decrement, #save, #reset {
  background-color: #ed64a4;
  padding: 10px;
  border-radius: 5px;
  outline: unset;
  border: none;
  color: #fff;
  width: 140px;
  cursor: pointer;
  margin: 5px;
}
button:active {
  transform: scale(0.99);
}
#increment:focus, #decrement:focus, #save:focus, #reset:focus {
  outline: 1px solid #000;
}
#save {
  background-color: #79068d;
}
#reset {
  background-color: #0e7873;
}
span {
  font-weight: bold;
}
